@model AfriCar_Web.Models.VM.CarNumberCreateVM


<form asp-action="CreateCarNumber">
	<br />
	<div class="container border p-3">
		<h1 class="text-primary">Create Car Number</h1>
		<hr />

		<div class="row">
			<div asp-validation-summary="All" class="text-danger"></div>

			<div class="col-2">
				<label asp-for="CarNumber.CarNo" class="control-label pt-2" style="font-size:20px;"></label>
			</div>
			<div class="col-10 pb-3">
				<input class="form-control" asp-for="CarNumber.CarNo" />
				<span asp-validation-for="CarNumber.CarNo" class="text-danger"></span>
			</div>

			<div class="col-2">
				<label asp-for="CarNumber.CarID" class="control-label pt-2" style="font-size:20px;"></label>
			</div>
			<div class="col-10 pb-3">
				<select asp-for="CarNumber.CarID" asp-items="@Model.CarList" class="form-select">
					<option disabled selected>-Select Car-</option>
				</select>
				<span asp-validation-for="CarNumber.CarID" class="text-danger"></span>
			</div>

			<div class="col-2">
				<label asp-for="CarNumber.SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
			</div>
			<div class="col-10 pb-3">
				<textarea class="form-control" asp-for="CarNumber.SpecialDetails" rows="5"></textarea>
				<span asp-validation-for="CarNumber.SpecialDetails" class="text-danger"></span>
			</div>

			<div class="col-5 offset-2">
				<a asp-action="IndexCarNumber" asp-controller="CarNumber" class="btn btn-primary form-control">Back to List</a>
			</div>
			<div class="col-5">
				<input type="submit" value="Create" class="btn btn-success form-control" />
			</div>

		</div>
	</div>

</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}